# Pasta de compilação (Lixo pesado)
build/
docs/generated/
tests/.build/
tests/*.exe
__pycache__/
*.pyc

# Configurações locais do microcontrolador
sdkconfig
sdkconfig.old

# Ficheiros do VS Code (opcional, mas recomendado)
.vscode/
.DS_Store
